@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

#quicksand-family {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared style */

.display-flex{
  display: flex;
}
*{
    margin: 0px;
}

/* header style  */
.school{
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar{
  justify-content: space-between;
  margin: 5px;
}
.navbar > ul > li{
    list-style: none;
    margin-left: 40px;
}
.navbar>ul> li> a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.info-1{
  color: rgb(254, 163, 1);
}
.info-2{
  color: rgb(1, 172, 253);
}
.info-3{
  color: rgb(5, 212, 223);
}
.info-4{
  color: rgb(93, 88, 239);
}
.nav-btn{
  background-color: rgb(254, 163, 1);
  margin-left: 200px;
  margin-right: 50px;
  color: white;
  padding: 2px 40px ;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
}

/* main style  */

/* styled banner section */
.banner{
    gap: 150px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

.banner-title{
  margin-top: 40px;
  font-size: 40px;
  font-weight: 700 ;
}
#empower{
  color:  rgb(254, 163, 1);;
}
#vision{
  color: rgb(1, 172, 253);
}
.banner-description{
  font-size: 20px;
  font-weight: 400;
  color: rgb(17, 17, 17);
  margin: 20px 0;
}
.banner-btn{
  background-color: black;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
}

/* styled curriculum section */
.Stander-Curriculum{
  background: url(../assets/bg.png);
  margin: 10px;
}
.curriculum{
  gap: 35px;
}
.curriculum-title{
  text-align: center;
  margin-top: 100px;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 50px;
}
.item-1{
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  padding: 30px;
  height: 460px;
  width: 770px;
}
.item-2{
  padding: 30px;
  height: 460px;
  width: 770px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.item-3{
  padding: 30px;
  height: 460px;
  width: 770px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curr-btn-1{
  font-size: 15.09px;
  font-weight: 700;
  color: rgb(100, 200, 255);
  margin-left: 100px;
  margin-top: 30px;
  border: none;
  background-color: white;
}
.curr-btn-2{
  font-size: 15.09px;
  font-weight: 700;
  color: rgb(240, 170, 0);
  margin-left: 100px;
  margin-top: 30px;
  border: none;
  background-color: white;
}
.curr-btn-3{
  font-size: 15.09px;
  font-weight: 700;
  color: rgb(135, 0, 255);
  margin-left: 100px;
  margin-top: 30px;
  border: none;
  background-color: white;
}

.cur-img{
  margin-left: 100px;
}
.item-title{
  text-align: center;
  font-size: 24.52px;
  font-weight: 700;
}
.arrow{
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
 
}
.arrows{
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.circle{
  border-radius: 40px;
  background: rgb(254, 163, 1);
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: 900;
  padding: 10px;
 
}

/* our story styled */
.our-stories{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    
}   
.our-story{
   gap: 80px;
   margin-left: 20px;
}
.story-title{
    font-size: 46px;
    font-weight:700;
    text-align: center;
    margin-bottom: 50px;
}
.story-1{
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
}
.img-1{
  border-radius:16px 16px 0 0;
  width: 100%;
}
.date-1{
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  color: white;
  width: 170px;
  height: 30px;
  padding: 10px;
  margin-top: -30px;
  margin-left: 20px;
}
.story-1-title{
  font-size: 24px;
  padding: 30px;
  font-weight: 700;
  color: black;
}
.story-1-description{
  width: 522px;
  font-size: 15.34px;
  font-weight: 500;
  color: rgb(102, 102, 102);
  padding: 10px;
}
.small-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 20px;
    gap: 30px;
}
.story-2{
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  width: 100%;
}
.img-2{
  border-radius: 16px 16px 0 0;
  width: 100%;
}
.date-2{
  border-radius: 47.93px;
  background: rgb(149, 178, 38);
  height: 38px;
  width: 170px;
  padding: 9px 6px 9px 9px;
  color: white;
  text-align: center;
  margin-top: -30px;
  margin-left: 10px;
}
.story-2-description{
  font-size: 15.34px;
  font-weight: 700;
  padding: 10px;
}
.date-3{
  background-color: blue;
}
.story-btn{
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  margin: 70px;
  border: none;
}
.stories-btn{
  text-align: center;
}
/* footer style */
footer{
  background-color: rgb(1, 172, 253);
  padding: 80px;
  color: white;
}
.foot{
  gap: 80px;
}
.footer-img{
  width: 100%;
  height: 120px;
}
.footer-title{
  font-size: 42.14px;
  font-weight: 700;
}
.footer-part-1{
  width: 600px;
}
.footer-description{
  margin-top: 30px;
}  
.about{
  flex-direction: column;
}
.about-title{
  margin-bottom: 20px ;
}
.about > ul{
  flex-direction: column;
}
.about > ul >li{
  padding: 15px;
}
.logo{
  gap: 10px;
  margin-top: 2px;
}


/* media quary for small devices
*/

@media screen and (max-width:576px) {

  .hide-min{
      display: none;
    }
    .bar{
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }
    .navbar{
      padding-bottom: 10px;
      border-bottom:2px solid rgb(254, 163, 1);
      width: 500x;
      justify-content: space-between;
    }
    .banner{
      flex-direction: column-reverse;
    }
    .banner-img{
      width: 100%;
    }
    .banner-content{
      text-align: center;
    }
    .banner-title{
      font-size: 32px;
    }
    .banner-description{
      font-size: 14px;
    }
    .curriculum{
      flex-direction: column;
    }
    .curriculum-title{
      font-size: 26px;
      font-weight: 700;
    }
    .item-1{
      width: 396px;
    }
    .item-2{
      width: 396px;
    }
    .item-3{
      width: 396px;
    }
    .our-story{
      margin: 0px;
    }
    .small-img{
      gap: 10px;
    }
}


